[submodule "src/plugins/sfTwitterBootstrapPlugin"]
	path = src/plugins/sfTwitterBootstrapPlugin
	url = https://github.com/real-chocopanda/sfTwitterBootstrapPlugin.git
[submodule "opt/ananas-build-toolkit"]
	path = opt/ananas-build-toolkit
	url = git@github.com:contructions-incongrues/ananas-build-toolkit.git
[submodule "var/liquibase.musiques-incongrues.net"]
	path = var/liquibase.musiques-incongrues.net
	url = git@github.com:contructions-incongrues/liquibase.musiques-incongrues.net.git
[submodule "src/lib/vendor/symfony"]
	path = src/lib/vendor/symfony
	url = https://github.com/symfony/symfony1.git
[submodule "src/plugins/sfDoctrineGuardPlugin"]
	path = src/plugins/sfDoctrineGuardPlugin
	url = https://github.com/ibolmo/sfDoctrineGuardPlugin.git
[submodule "src/plugins/ciOrmVanillaPlugin"]
	path = src/plugins/ciOrmVanillaPlugin
	url = git@github.com:contructions-incongrues/ciOrmVanillaPlugin.git
