# symfony var directories
src/cache/*
src/log/*

# dist files
src/config/databases.yml

# symfony & doctrine base* files
src/lib/*/doctrine/base/*
src/lib/*/doctrine/*/base/*

# Integration reports directory (for compatibility with Jenkins-php)
build

# Profiles that should never be shared
etc/prod

# Editors temporary files
*.swp
*~
